{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "ignore": ["node_modules"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src/js/",
        "rootPathPrefix": "~/"
      }
    ]
  ]
}
