
#footer {
    display: block;
    width: 100%;
    padding: 2.2rem 0 3.3rem 6rem;
    background-color: #000;
    color: #fff;

    li {
        list-style: none;
        display: inline-block;
    }

    .link {
        margin-right: 2rem;
        font-size: 0.5rem;
        font-family: 'Noto Sans JP', sans-serif;
        a:link, a:visited, a:hover, a:active {
            color: #fff;
            text-decoration: none;
        }
    }

    li.corp {
        margin-top: 0.2rem;
        width: 70%;
        text-align: right;
        font-size: 0.7rem;
        font-family: 'Lato', sans-serif;
    }
}
